<style>
#explodedmenu { position:relative; z-index:1000;font-size: <?php echo Mage::getStoreConfig('explodedmenu/general/font_size') ? Mage::getStoreConfig('explodedmenu/general/font_size') : '14'?>px; font-weight: <?php echo Mage::getStoreConfig('explodedmenu/general/font_weight')?>; margin: 0 auto; padding: 0 16px;  width: 918px;}
.menu {float: left;}
.menu.act { background-color:<?php echo Mage::getStoreConfig('explodedmenu/popup/bg_color')?>;}
.menu.active { background-color:<?php echo Mage::getStoreConfig('explodedmenu/popup/bg_color')?>;}
<?php if(Mage::getStoreConfig('explodedmenu/general/rounded_corner')):?>
.explodedmenu-menu-popup { position:absolute; z-index:3000;  display: none; background-color: #FFFFFF; background-image: -moz-linear-gradient(center top , <?php echo Mage::getStoreConfig('explodedmenu/popup/bg_color')?>, <?php echo Mage::getStoreConfig('explodedmenu/popup/bg_gradient_color')?>); border-bottom: 1px solid #666666; border-radius: 0 0 5px 5px; box-shadow: 0 2px 2px <?php echo Mage::getStoreConfig('explodedmenu/popup/bg_gradient_color')?>; text-align:left;}
<?php else:?>
.explodedmenu-menu-popup {position:absolute;z-index:3000; border:5px solid <?php echo Mage::getStoreConfig('explodedmenu/popup/border_color')?>; display: none; background-color:<?php echo Mage::getStoreConfig('explodedmenu/popup/bg_color')?>; text-align:left;}
<?php endif;?>
/*.menu, .explodedmenu-menu-popup {  padding: 5px 12px 6px 8px;}*/
.menu a, .explodedmenu-menu-popup a { text-decoration: none; display:block;}
.explodedmenu-menu-popup a.actParent { color: <?php echo Mage::getStoreConfig('explodedmenu/popup/color')?>;}
.explodedmenu-menu-popup a.act { color: <?php echo Mage::getStoreConfig('explodedmenu/popup/active_color')?>;}
.explodedmenu-menu-popup a:hover { color: <?php echo Mage::getStoreConfig('explodedmenu/popup/active_color')?>;}
.column { float:left; width:<?php echo Mage::getStoreConfig('explodedmenu/columns/colunm_width')?>px; padding:5px;}
.itemSubMenu { margin-left:20px;}
.clearBoth { clear:both;}
</style>
<?php $navigation = new OnlineBiz_ExplodedMenu_Block_Navigation()?>
<?php $_menu = $this->getHtml('level-top') ?>

<?php $_categories = $navigation->getStoreCategories() ?>
<?php
$langs = new Mage_Page_Block_Switch();
$blockTemplate = new Mage_Core_Block_Template();
$catalogSearchHelper = $blockTemplate->helper('catalogsearch');
$menu = new Mage_Page_Block_Html_Topmenu();
$menu = $menu->getHtml('level-top');

?>
<?php if(count($_categories)): ?>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Home</a>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav">
						<li>
							<?php foreach ($_categories as $_category): ?>
								<?php echo $navigation->drawCustomMenuItem($_category) ?>
							<?php endforeach ?>
						</li>
					</ul>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->__("Your Language:") ?><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<?php foreach ($langs->getStores() as $_lang): ?>
								<?php $_selected = ($_lang->getId() == $langs->getCurrentStoreId()) ? ' selected' : '' ?>
								<li><a href="<?php echo $_lang->getCurrentUrl() ?>"><?php echo $langs->htmlEscape($_lang->getName()) ?><?php echo $_selected ?></a></li>
								<?php endforeach; ?>
							</ul>
						</li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div>

	<div class="navbar mobile-nav">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Title</a>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav">
						<?php echo $_menu ?>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div>

<script type="text/javascript">
//<![CDATA[
var EXPLODEDMENU_POPUP_WIDTH = <?php echo (int)Mage::getStoreConfig('explodedmenu/popup/width')?>;
var EXPLODEDMENU_POPUP_TOP_OFFSET = <?php echo (int)Mage::getStoreConfig('explodedmenu/popup/top_offset')?>;
var EXPLODEDMENU_POPUP_RIGHT_OFFSET_MIN = <?php echo (int)Mage::getStoreConfig('explodedmenu/popup/right_offset_min')?>;
//]]>
</script>
<?php endif ?>
