<?php $menuContent = Mage::helper('explodemenu')->getMenuContent(); ?>
<script type="text/javascript">
//<![CDATA[
$('explodemenu').update(<?php echo Zend_Json::encode($menuContent); ?>);
//]]>
</script>
<?php $mobileMenuContent = Mage::helper('explodemenu')->getMobileMenuContent(); ?>
<script type="text/javascript">
//<![CDATA[
$('menu-content').update(<?php echo Zend_Json::encode($mobileMenuContent); ?>);
//]]>
</script>
