<?php $menuData = Mage::helper('explodemenu')->getMenuData(); extract($menuData); ?>
<div class="nav-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="explodemenu-loading" class="<?php echo $_rtl ? ' rtl' : ''; ?>">
					<div class="menu">
						<div class="parentMenu menu0">
							<a href="javascript:;">
								<span><?php echo $this->__('Loading...'); ?></span>
							</a>
						</div>
					</div>
					<div class="clearBoth"></div>
				</div>
				<div id="explodemenu" class="<?php echo $_rtl ? ' rtl' : ''; ?>" style="display:none;">
					<div class="menu">
						<div class="parentMenu menu0">
							<a href="javascript:;">
								<span><?php echo $this->__('Loading...'); ?></span>
							</a>
						</div>
					</div>
					<div class="clearBoth"></div>
				</div>
				<div id="explodemenu-mobile" class="<?php echo $_rtl ? ' rtl' : ''; ?>" style="display:none;">
					<div id="menu-button" onclick="onlinebizsoftMenuButtonToggle()">
						<a href="javascript:void(0);" class="label-menu">
							<span><?php echo $this->__('Menu'); ?></span>
						</a>
						<div class="icon">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					
					<div id="menu-content" style="display:none;">
						<div id="menu-mobile-loading" class="menu-mobile level0">
							<div class="parentMenu">
								<a href="javascript:;">
									<span><?php echo $this->__('Loading...'); ?></span>
								</a>
							</div>
						</div>
						<div class="clearBoth"></div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
var EXPLODEMENU_POPUP_WIDTH = <?php echo $_popupWidth; ?>;
var EXPLODEMENU_POPUP_TOP_OFFSET = <?php echo $_popupTopOffset; ?>;
var EXPLODEMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo $_popupDelayBeforeDisplaying; ?>;
var EXPLODEMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo $_popupDelayBeforeHiding; ?>;
var EXPLODEMENU_RTL_MODE = <?php echo $_rtl; ?>;
var onlinebizsoftExplodemenuTimerShow = {};
var onlinebizsoftExplodemenuTimerHide = {};
var onlinebizsoftActiveMenu = null;
var onlinebizsoftMobileMenuEnabled = <?php echo $_mobileMenuEnabled; ?>;
var onlinebizsoftMenuAjaxUrl = '<?php echo $_menuAjaxUrl; ?>';
var onlinebizsoftMoblieMenuAjaxUrl = '<?php echo $_moblieMenuAjaxUrl; ?>';
onlinebizsoftExplodeMenuMobileToggle();
Event.observe(window, 'resize', function() {
    onlinebizsoftExplodeMenuMobileToggle();
});
//]]>
</script>
