/*Reset ================================================================================= */
/****** General Color and fonts follow themesetting ********************************/
.sorter .view-mode .grid, .sorter .view-mode .list, .sorter .sort-by .category-asc, .sorter .sort-by .category-desc, .buttons-set .back-link small, .add-to-links.addto-icons a, .accordion-style1 .opener, .accordion-style1 .opener:hover, .collapsible .opener, #scroll-to-top {
	transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}
body{text-align:left;}
a, .opener {
	transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
	-moz-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
	-webkit-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
	-o-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
}
a:hover, .opener:hover {
transition-duration: 100ms;
-moz-transition-duration: 100ms;
-webkit-transition-duration: 100ms;
-o-transition-duration: 100ms;
}

img{display: initial;max-width: 100%;height: auto;}
h1, h2, h3{margin:10px 0;}
p{margin: 0}
ul, ol{margin: 0}
input{
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label{font-weight:400;}
input, button, select, textarea {padding: 5px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;}
input.input-text, textarea {padding: 8px;text-overflow: ellipsis;}
.std p{margin: 0 0 10px;}
img.img-responsive{display: initial !important;}
colgroup{display:none;}
/* Layout ================================================================================ */
.page{width: auto;padding: 0;}
.main-container,
.footer,
.header,


/* Base column */
.col-left{ border: none;}
.col-main{ border: none;}
.col-right{ border: none;float: right;}

/* 3 Columns Layout */


/* 2 Columns Layout */
.col2-left-layout .main{}
.col2-left-layout .products-grid{width: auto;}

.col2-left-layout .products-grid li.item.first{margin-left: 0;}


/* 1 Columns Layout */

/* Global Styles ========================================================================= */
/* Form Elements */
button.button{
	border: none;
	background: #bdc3c7;
	color: #ffffff;
	padding: 5px 12px;
	line-height: 20px;
	text-decoration: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-backface-visibility: hidden;
}
button.button span{background: none;padding: 0;font: inherit;}
button.button span span{padding: 0}

button.button {}
button.button:hover,
button.button:focus,
.btn-group:focus button.button.dropdown-toggle {
  background-color: #5dade2;
}
button.button:active,
.btn-group.open button.button.dropdown-toggle,
button.button.active {
  background-color: #2c81ba;
}
.form-list li.control input.radio{margin: 0;}
.form-list li.control label{display: inline-block;}

/* Show menu */
.mobile-nav{display: none;}
.mobile-nav li ul{display: none;}

/* Sidebar =============================================================================== */
.block{
}
.block .block-title { text-transform: uppercase; }
.block dt { margin: 1em 0 0; }
/* Block: Subscribe */
.form-subscribe{border:0;margin: 0;float: right;padding: 10px 0;}
.form-subscribe .block-content .input-box, .form-subscribe .block-content .actions{display:inline;}
.form-subscribe .block-content .input-box input{width:auto;}
/* Category Page ========================================================================= */

/* View Type: Grid */
.products-grid.row{margin: 0 -15px 1em;}
.category-products .products-grid.row li.item-inner{margin-bottom: 20px;}
.products-grid .add-to-links a{font-size: .9em;font-weight: normal;}
.products-grid .product-image {display: block;}

.product-name {line-height: 1.5em;}
.category-products .ratings .amount {display:none;}
.ratings .rating-box{margin: 0 auto;float: none;}
.add-to-links{padding:0 !important;}
.category-products li .product-image .img-responsive{display: initial;}
/* BreadCrumbs */
.breadcrumbs{margin: 0 0 10px}
/* BreadCrumbs */
.breadcrumbs{margin-bottom: 10px;  height:29px; line-height:29px; border-radius:3px;}
.breadcrumbs a {display: block;float: left;border-bottom: none;}
.breadcrumbs li { display:inline; font-size: 12px;}
.breadcrumbs li strong {font-weight: normal;display: block;color:#4c4c4c;text-transform:uppercase;}
.breadcrumbs li span {margin: 0px 6px 0;display: block;float: left;overflow: hidden;}
/* BreadCrumbs End */

/* Page Heading */
.page-title > *{margin: 0;}
.page-title h1,
.page-title h2 { font-size:1.8em; }


/* Pager */
.toolbar .pager{display: block;border: none;padding: 10px 0 0;margin: 10px 0 0;border-top: 1px solid #ddd;}
.pager .pages{}

/* Toolbar */
.toolbar {border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;position: relative;z-index: 1;padding: 10px 0;margin-bottom: 20px;}
.toolbar label{display: inline-block;}
.toolbar div *{margin-bottom: 0;padding:0;}
.pager .amount{text-align:left;}
.toolbar > div > p{line-height: 25px;}
.toolbar select{width: 100px;}
/*.toolbar .btn{width: 100px;}*/
.toolbar .limiter{text-align:right;}
.limiter select{width: 60px;}
.pager li>a, .pager li>span {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/* Data Table */
.data-table tr.first th:first-child { width: 100px; }

/* Header ================================================================================ */
.header-container{margin: 0 0 0;background: #f5f5f5;}
.top-header{background:#2f2f2f;line-height: 13px;}
.top-link{text-align:right;line-height: 40px;}
.header{padding: 0; border: none; margin-top: 1em;}
.header-container .welcome-msg{color:#fff;line-height: 40px;}
/* Language and Currency */
.language, .currency{color:#fff;font-size:12px;line-height: 40px;}
.language label, .currency label{font-weight: 400;line-height: 41px;margin: 0;padding:0 10px;}
.language .lang-switcher,
.language .label-language,
.currency .currency-label,
.form-currency{ float:left;}

.form-language, .form-currency{ position:relative;}

.lang-switcher:hover .language-hover, .form-currency:hover .currency-hover{background: #fff;color: #000;}
.over-language li, .over-currency li{ line-height:20px;}
.over-language li:hover,
.over-language li.selected, 
.over-currency li:hover,
.over-currency li.select, 
.lang-switcher:hover .language-hover,
.form-currency:hover .currency-hover{
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}
.over-language li a, .over-currency li a{font-size: 12px;line-height: 20px;color:#000;}
.over-language, .over-currency{width: 130px;position: absolute;top: 41px;right: 0px;z-index: 10000000;background:#fff;border-top:0;-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);padding:10px;}
/****** Message ********/
/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }
.messages { width:100%; overflow:hidden; margin: 0 0 10px;}
.messages,
.messages ul {list-style: none !important;margin: 0;padding: 0;}
.messages li {margin: 0 0 1%;}
.messages li li {margin: 0px !important;}
.error-msg,
.success-msg,
.note-msg,
.notice-msg {background-position: 10px 12px;padding: 20px 20px 20px 50px !important;}
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; background-image: url(../images/warning_icon.png); background-repeat:no-repeat;}
.success-msg {border-color: #296a23;background-color: #E9FFCA;background-image: url(../images/tick-icon.png);background-repeat:no-repeat;color: #296a23;}
.note-msg,
.notice-msg {color: #3d6611;line-height: 25px;height: 25px;}

/* Top Links */
.top-link{line-height:40px;}
.top-link li{color:#fff;font-size:12px;padding: 0 3px;}
.top-link li:last-child{padding-right: 0}
.top-link li a{color:#fff;}

/** NAV container **/
.nav-container{background:#2f2f2f;}
.navbar .nav > li > a,
.menu {
	-webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
	-moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
	-o-transition: background-color .25s, color .25s, border-bottom-color .25s;
	transition: background-color .25s, color .25s, border-bottom-color .25s;
	-webkit-backface-visibility: hidden;
}
/* Product View ========================================================================== */
.product-tags {margin: 0 0 1em}
.product-tags li{display: inline-block;}
.product-shop .price-box{margin: 0 0 1em}
.product-essential a{text-decoration: none;}
.product-name h1{font-size: 1.2em;line-height: 1.5em}
.product-view .product-name h1{margin: 0 0 10px;}
.product-shop .col-xs-12{padding:0;}
.product-shop .ratings .rating-box{float: left;margin-right: 5px;}
/* Block: Upsell */
.box-up-sell .products-grid{width: auto;margin: 0}

/*** Shopping Cart ***********************************/
.cart .crosssell > h2,
.cart .discount > h2,
.cart .shipping > h2,
.totaldisplay .cart-total > h2{
	background: #5dade2; 
	color: #fff;
	padding: 10px 20px;
	margin: 1px 0 0;
	-moz-transition: padding-left 250ms ease;
	-webkit-transition: padding-left 250ms ease;
	-o-transition: padding-left 250ms ease;
	transition: padding-left 250ms ease;
	font-size: 1.2em;
	text-transform: uppercase;
}
.cart .shipping input.input-text, .cart .shipping select {width: 100%;}
.cart .crosssell > h2:hover,
.cart .crosssell > h2.active,
.cart .discount > h2:hover,
.cart .discount > h2.active,
.cart .shipping > h2:hover,
.cart .shipping > h2.active{}
.cart .crosssell > h2:hover:after,
.cart .crosssell > h2.active:after,
.cart .discount > h2:hover:after,
.cart .discount > h2.active:after,
.cart .shipping > h2:hover:after,
.cart .shipping > h2.active:after{}
.cart .crosssell > h2.active:after,
.cart .discount > h2.active:after,
.cart .shipping > h2.active:after{}
.crosssell > h2+*,
.discount > h2+*,
.shipping > h2+*,
.cart-total > h2+*{border: 1px solid #ddd;padding: 10px;}
.cart .discount input.input-text {width: 100%;}

.custom-cart .page-title{margin:0;}
.custom-cart .data-table tr.tr-arround{
	margin-bottom: 10px;
	position: relative;
	padding: 0 18px;
}
.custom-cart .cart-table td  {border-right: 1px solid #f5f5f5;}
.custom-cart .cart-table tfoot td  {border:none;padding: 10px 0;}
.custom-cart .data-table .hidden-cart{position:relative;}
.custom-cart .data-table .hidden-cart td.td-image{display: block;}
.custom-cart .data-table .hidden-cart td.last{border:0 !important;}
.custom-cart .data-table tbody .hidden-cart td{}
.custom-cart .data-table tbody td.last{height:26px;position:relative;bottom:0 !important;}
.custom-cart .data-table .hidden-cart .button-cart .active{bottom: -5px;right: 0px;}
.custom-cart .data-table tbody td.td-infopr{margin-right: 10px;}
.custom-cart .data-table tbody td.td-eidtcart a{
	text-indent: -999em;
	overflow: visible;
	font-size: 12px;
	line-height: 26px;
	color: #8a8989;
	display: inline-block;
	width: 22px;
	background: url(../images/bkg_edit_checkout.png) no-repeat 0px center;
}
.custom-cart .data-table tbody td.td-removeitem{ }
.custom-cart .data-table tbody td.td-carttaxinfo{margin-right: 15px;}
.custom-cart .data-table tbody td.td-cartqty{line-height: 24px;}
.custom-cart .data-table tbody td.td-checkoutprice{}
.custom-cart .data-table tbody td.last{border:none;}
.custom-cart .data-table tbody td.td-infopr .item-options{}
.custom-cart .data-table tbody td.td-infopr .product-name a{line-height:21px;}
.custom-cart .data-table tbody td.td-carttaxinfo .price{padding-left:6px;}
.custom-cart .data-table tbody td.td-removeitem .btn-remove2{
	text-indent: -999em;
	height: 26px;
	overflow: visible;
	font-size: 12px;
	line-height: 26px;
	color: #8a8989;
	display: inline-block;
	width: 22px;
}
.custom-cart .data-table tbody td.td-eidtcart a{color:#8a8989;}
.custom-cart .unit-price{}
.custom-cart .data-table tbody td.td-cartqty input{border:1px solid #e5e5e5;border-radius:2px;text-indent:5px;margin:0 !important;}
.custom-cart .quantity-cart{line-height:24px;}
.custom-cart .products-grid .item button.btn-cart span{}
.custom-cart .data-table tbody td.td-checkoutprice .price{ padding-left:6px;}
.custom-cart .subtotal-cart{}
.custom-cart .data-table td a.product-image{}
.custom-cart .cart-collaterals { padding:25px 0 0; }
.custom-cart .cart-collaterals .col2-set .col-1 {}
.custom-cart .cart-collaterals .col2-set .col-2 {}

.cart-block.cart-total{padding:20px;background:#efefef;}
.cart .cart-total table {width: 100%;}
.cart .cart-total tfoot td {padding: 1px 0px 5px 7px;}
.cart .cart-total tfoot th strong, .cart .cart-total tfoot td strong {font-size: 18px;}
/* One Page Checkout */
.opc .step-title .number{font-size: 1.2em;line-height: 40px;margin: 0 .5em 0 0;}
.opc .step-title h2{margin: 0;}

/* Account Login/Create Pages ============================================================ */
.registered-customer-area{display: none;}

/* Footer ================================================================================ */
.footer-container {
  border-top: 1px solid #e6e6e6;
  background-color: #fff;
  color: #333;
  padding: 0;
  overflow: hidden;
}
.f-bottom-container{background:#000;}
/** Indivial for Footer Block ***/
/** Footer Box Item **/
@media only screen and (min-width: 768px){
	.mobile-collapsible .block-content {
		display: block !important;
	}
}
@media only screen and (max-width: 767px){
	.mobile-collapsible .block-content {
		display: none;
		margin-top: 20px;
	}
	.mobile-collapsible .opener{display:block !important;}
	.mobile-collapsible{min-height:0;}
}

.footer-container a {
  color: #333;
}


.social-links{padding: 10px 0;}
.social-links a{margin: 0 3px;}
.social-links a:hover{}
.social-links a span.icon{width:32px;height:32px;display:inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: #000;}
.social-links a span.icon.facebook-i{background-image:url(../images/block/facebook-i.png);background-repeat:no-repeat;}
.social-links a span.icon.flickr-i{background-image:url(../images/block/flickr-i.png);background-repeat:no-repeat;}
.social-links a span.icon.googleplus-i{background-image:url(../images/block/googleplus-i.png);background-repeat:no-repeat;}
.social-links a span.icon.instagram-i{background-image:url(../images/block/instagram-i.png);background-repeat:no-repeat;}
.social-links a span.icon.youtube-i{background-image:url(../images/block/youtube-i.png);background-repeat:no-repeat;}
.social-links a span.icon.twitter-i{background-image:url(../images/block/twitter-i.png);background-repeat:no-repeat;}
.social-links a span.icon.tumblr-i{background-image:url(../images/block/tumblr-i.png);background-repeat:no-repeat;}
.social-links a span.icon.pinterest-i{background-image:url(../images/block/pinterest-i.png);background-repeat:no-repeat;}
.social-links a span.icon.linkedin-i{background-image:url(../images/block/linkedin-i.png);background-repeat:no-repeat;}
.social-links a span.icon.rss-i{background-image:url(../images/block/rss-i.png);background-repeat:no-repeat;}

.f-bottom-container address{margin:0;padding:0;line-height: 37px;color: #fff;}
.footer-payment-wrapper{text-align:right;line-height: 37px;}
.mobile-collapsible{position:relative;}
.mobile-collapsible .opener {
	position: absolute;
	right: 15px;
	top: 2px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: #f2f2f2;
	background-color: rgba(0,0,0, 0.05);
	background-image: url(../images/opener.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 3%;
	display:none;
}
.mobile-collapsible .opener:hover{background-color: #5dade2;}
.collapsible.active .opener {
	background-image: url(../images/opener-active.png);
}



/************** Responsive build ***************/
@media (max-width: 992px) {
	.navbar {display: none;}
	.mobile-nav {display: block;}
	.cart .cart-collaterals{position: relative;}
	.cart .totals{position: absolute; right: 0; top: 10px;}
	.cart .cart-collaterals .col2-set{width: auto;}
	.cart .cart-collaterals .col2-set .col-1,
	.cart .cart-collaterals .col2-set .col-2 {width: 100%;}
}

@media (max-width: 992px) and (min-width: 768px) {	
	.col3-layout .col-wrapper{width: auto;margin: 0 0 1em; padding: 0 0 1em; border-bottom: 2px dotted #666;}	
	
	.block-banner,
	.block-poll,
	.sidebar .paypal-logo{display: none}
	.block-content input[type="text"]{width: 90%;}

	.col2-left-layout .block-layered-nav{padding: 10px; }
	.col2-left-layout .block-layered-nav .block-title{border: none;cursor: pointer;}
	.col2-left-layout .block-layered-nav .block-content{display: none;padding: 0;margin: 1em 0 0;}
	.col2-left-layout .block-layered-nav dt{cursor: pointer;padding: 5px; border: 1px solid #ddd; margin: 0 0 .5em;}
	.col2-left-layout .block-layered-nav dt:hover{background: #227fbb; color: #fff; -webkit-transition: 0.15s ease-out; -moz-transition: 0.15s ease-out; -o-transition: 0.15s ease-out; transition: 0.15s ease-out; }
	.col2-left-layout .block-layered-nav .block-title:hover{text-decoration: underline;}
	.col2-left-layout .block-layered-nav .block-title:after,
	.col2-left-layout .block-layered-nav dt:after {font-family: FontAwesome; content: "\f054"; float: right; }
	.col2-left-layout .block-layered-nav .block-title.active:after,
	.col2-left-layout .block-layered-nav dt.active:after {content: "\f078"; }
	.col2-left-layout .block-layered-nav dd{display: none;margin: 0 0 1em;}
	.col2-left-layout .block-layered-nav dd li{text-indent: 1em;position: relative;}
	.col2-left-layout .block-layered-nav dd li:hover:after{font-family: FontAwesome;content: "\f0da";position: absolute;left: -13px;}
	.col2-left-layout .block-layered-nav .block-subtitle{display: none;}
	
	/** Footer *****************/
	.f-box.box4 iframe{width: 158px !important;height: 125px !important;} 
}

@media (max-width: 767px) {
	
	/*** Header *************************/	
	.block{width: auto;}
	.block-content > div {display: inline-block;}
	.block-content > div.actions{display:block;}
	
	/*********** Col-form **********/
	.form-list .field, .form-list input.input-text, .form-list textarea, .form-list select, .form-list li.wide .input-box, .form-list li.wide input.input-text, .form-list li.wide textarea, .form-list li.wide select {max-width: 100%;}
	.account-login .col-sm-6 .content{height:auto !important;}
	
	
	.block-layered-nav{padding: 10px; }
	.block-layered-nav .block-title{border: none;cursor: pointer;}
	.block-layered-nav .block-content{display: none;padding: 0;margin: 1em 0 0;}
	.block-layered-nav dt{cursor: pointer;padding: 5px; border: 1px solid #ddd; margin: 0 0 .5em;}
	.block-layered-nav dt:hover{background: #227fbb; color: #fff; -webkit-transition: 0.15s ease-out; -moz-transition: 0.15s ease-out; -o-transition: 0.15s ease-out; transition: 0.15s ease-out; }
	.block-layered-nav .block-title:hover{text-decoration: underline;}
	.block-layered-nav .block-title:after,
	.block-layered-nav dt:after {font-family: FontAwesome; content: "\f054"; float: right; }
	.block-layered-nav .block-title.active:after,
	.block-layered-nav dt.active:after {content: "\f078"; }
	.block-layered-nav dd{display: none;margin: 0 0 1em;}
	.block-layered-nav dd li{text-indent: 1em;position: relative;}
	.block-layered-nav dd li:hover:after{font-family: FontAwesome;content: "\f0da";position: absolute;left: -13px;}
	.block-layered-nav .block-subtitle{display: none;}

	.col3-layout .col-left{width: 100%;}
	.col3-layout .block-layered-nav{width: auto;}
	.form-list .input-box{width: auto;}
	.form-list .input-text{width: 90%;}
	
	/******** Product View ***********/
	.full-xs-imgbox, .more-views-full-xs{width:100% !important;float:none;text-align:center;margin: 0 auto;cursor:default !important;height: auto !important;}
	.more-views .owl-carousel {width: 40% !important;float: none;text-align: center;margin: 0 auto;}
	.product-image .mousetrap {
		z-index: 100 !important;
		width: 100% !important;
		height: 100% !important;
	}
	/********* Toolbar ******************/
	.sorter .view-mode, .sorter .sort-by{padding-bottom: 10px;}
	.sorter .sort-by{float:right;text-align:right;}
	
	/*** Shopping Cart ***********************/
	thead.thead-cart,button.button.btn-empty{display:none;}
	.custom-cart .data-table tr.tr-arround{padding:0;float: left;width: 100%;}
	.custom-cart .cart-table td{margin:0;text-align:left !important;width: 100%;display: block;float: left;padding:0;border: none;}
	.custom-cart .data-table tr.tr-arround .a-center.td-image{text-align:center !important;padding: 10px 0;}
	.custom-cart .data-table tbody td.td-infopr{margin:0;}
	.custom-cart .data-table tr.tr-arround .a-center.td-image a{float:none;}
	.custom-cart .cart-table td .product-name{margin-bottom:0;} 
	.custom-cart .cart-table td .unit-price, 
	.custom-cart .cart-table td .price, 
	.custom-cart .cart-table td.td-cartqty .quantity-cart, 
	.custom-cart .cart-table td.td-cartqty input.qty, 
	.custom-cart .cart-table td.td-checkoutprice .cart-price .subtotal-cart, 
	.custom-cart .cart-table td.td-checkoutprice .cart-price .price, 
	.custom-cart .cart-table td.td-wishlist .label, 
	.custom-cart .cart-table td.td-wishlist a{float:left;display:inline !important;padding-right:10px;}
	.custom-cart .cart-table td.td-cartqty input.qty{padding:0;}
	.custom-cart .cart-table tfoot td {text-align: center !important;}
	.custom-cart .cart-table tfoot td button{margin-bottom:10px;}
	/** Footer ********************************/
	.footer-container .full-mobile, .footer-container .form-subscribe{float:none !important;text-align:center;}
}

@media (max-width:651px) {
	/**** Header ***********/
	.hidden-top{display:none;}
	.header-container .top-link{float:none;text-align:center;width: 100%;}
	
	/**** Tabs *************/
	
}

@media (max-width:480px) {
	/*** Header *******************/
	.header .logo, .full-480{float:none;margin:0 auto;text-align:center;width:100%;}
	.header .form-search{text-align:center;}
	.col2-right-layout .product-view .product-img-box{width: auto;}
	.col2-right-layout .product-view .product-shop{width: auto;margin: 0 0 2em;}
	.products-grid{margin: 0;border: none;}
	.featured-products .products-grid li.item, .bestseller-products .products-grid li{margin:0}
	.products-grid li.item, .products-grid li{width: 100%;margin: 0 0 2em 0;}
	.products-grid .actions{}
	.products-grid .add-to-links{display:none;}
	.products-grid .add-to-links li{margin:auto;}
	.products-grid .ratings .amount{display: none;}
	.products-grid .btn-cart{}
	.products-grid .product-image{float: left;margin: 0 10px 10px 0;width: 50%;}
	.products-grid .ratings{display: inline-block;}

	.customer-account-login .col-1.new-users{display: none;}
	.account-login .registered-users{width: 100%;}
	.registered-customer-area{display: block;}
	.account-login{margin: 0 0 2em;}
	
	/*** Footer *************************/
	.footer-container .f-box{float:none;width:100%;margin:0 auto;}
}
@media (max-width:380px) {
	.hidden-phone{display:none;}
	.sorter .view-mode{float:none;width:100%;text-align:center;}
}
@media (max-width:321px) {
	.products-grid li{width:100%;padding: 20px;margin: 0 0 1em;}
	.products-grid .product-image{float:none;margin:0 auto;width:auto;}
	.products-grid .ratings{display:block;}
}